$primary-color: #4cf661;
$color: #fff;
$secondary-background: #fff;
$danger-color: #bf4342;
$success-color: #28a745;
$font-size: 19px;
$font-style: italic;
$title-font-size: 22px;
$font-weight: 700;
$border-radius: 10px;
$opacity: 0.8;
$primary-dark: #1a1a1a;
